In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [3]:

datos = pd.read_excel("./EjemploAjuste curvas.xlsx")
datos

,X,Y,Unnamed: 2,Ajuste,Unnamed: 4,Modelo y=ax+b,Unnamed: 6,Unnamed: 7,Unnamed: 8,Validaci√≥n,Unnamed: 10,Modelo y=ax+b.1
0,0.0115,50.5,NaN,0.0115,50.5,NaN,NaN,NaN,NaN,0.0120,49,NaN
1,0.0120,49.0,NaN,0.0120,50.2,NaN,NaN,NaN,NaN,0.0120,44.5,NaN
2,0.0120,50.2,NaN,0.0130,48.5,NaN,NaN,NaN,NaN,0.0135,47.5,NaN
3,0.0120,44.5,NaN,0.0260,35,NaN,NaN,NaN,NaN,0.0320,34.5,NaN
4,0.0130,48.5,NaN,0.0340,38,NaN,NaN,NaN,NaN,0.0380,31.5,NaN
5,0.0135,47.5,NaN,0.0400,28,NaN,NaN,NaN,NaN,0.0410,38.5,NaN
6,0.0260,35.0,NaN,0.0840,15,NaN,NaN,NaN,NaN,0.0860,29.5,NaN
7,0.0320,34.5,NaN,0.0920,20.5,NaN,NaN,NaN,NaN,0.0980,17,NaN
8,0.0340,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.0380,31.5,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN,Error,NaN
10,0.0400,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.0410,38.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.0840,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0.0860,29.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.0920,20.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.0980,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
train, test = train_test_split(datos, test_size=0.5, random_state=1)

train

,X,Y,Unnamed: 2,Ajuste,Unnamed: 4,Modelo y=ax+b,Unnamed: 6,Unnamed: 7,Unnamed: 8,Validaci√≥n,Unnamed: 10,Modelo y=ax+b.1
14,0.0920,20.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.0115,50.5,NaN,0.0115,50.5,NaN,NaN,NaN,NaN,0.012,49,NaN
15,0.0980,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.0380,31.5,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN,Error,NaN
8,0.0340,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.0840,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.0410,38.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0135,47.5,NaN,0.0400,28,NaN,NaN,NaN,NaN,0.041,38.5,NaN

In [23]:
test

,X,Y,Unnamed: 2,Ajuste,Unnamed: 4,Modelo y=ax+b,Unnamed: 6,Unnamed: 7,Unnamed: 8,Validaci√≥n,Unnamed: 10,Modelo y=ax+b.1
3,0.012,44.5,NaN,0.026,35,NaN,NaN,NaN,NaN,0.0320,34.5,NaN
13,0.086,29.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.032,34.5,NaN,0.092,20.5,NaN,NaN,NaN,NaN,0.0980,17,NaN
2,0.012,50.2,NaN,0.013,48.5,NaN,NaN,NaN,NaN,0.0135,47.5,NaN
6,0.026,35.0,NaN,0.084,15,NaN,NaN,NaN,NaN,0.0860,29.5,NaN
10,0.040,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.013,48.5,NaN,0.034,38,NaN,NaN,NaN,NaN,0.0380,31.5,NaN
1,0.012,49.0,NaN,0.012,50.2,NaN,NaN,NaN,NaN,0.0120,44.5,NaN

In [55]:
# Y = a*x + b

X = train["X"]
y = train["Y"]

A = np.array([X, np.ones(8)])

A=A.T

In [44]:
b

14    20.5
0     50.5
15    17.0
9     31.5
8     38.0
12    15.0
11    38.5
5     47.5
Name: Y, dtype: float64

In [57]:
# Calcular (X^T X)
AtA = np.dot(A.T, A)

# Calcular la inversa de (X^T X)
AtA_inv = np.linalg.inv(AtA)

# Calcular (X^T y)
Aty = np.dot(A.T, y)

# Calcular los coeficientes beta
beta = np.dot(AtA_inv, Aty)

# Extraer el intercepto y la pendiente
intercepto, pendiente = beta
print(f"Pendiente: {pendiente:.2f}, Intercepto: {intercepto:.2f}")

Pendiente: 51.77, Intercepto: -377.73

In [66]:
#SOLUCI√ìN
ejemplo1 = pd.read_excel('./EjemploAjuste curvas.xlsx')
df = ejemplo1[ejemplo1.columns[:2]]
df

# Separamos los datos en entrenamiento y test
train_data, test_data = train_test_split(df, test_size=0.5, random_state=42)

print(f"Estos son los datos de entrenamiento {len(train_data)}")
print(f"Estos son los datos de entrenamiento {len(test_data)}")

# Extraer X y y para el modelo lineal
X = train_data.iloc[:, 0].values  # Valores de la primera columna
y = train_data.iloc[:, 1].values  # Valores de la segunda columna

# A√±adir un vector columna de unos para el t√©rmino de intersecci√≥n (B0)
X = np.vstack([X, np.ones(len(X))]).T

# Calcular los coeficientes usando la f√≥rmula de m√≠nimos cuadrados
beta = np.linalg.inv(X.T @ X) @ X.T @ y

# Mostrar los coeficientes B0 y B1
print(f"Coeficiente B1: {beta[0]}")
print(f"Intercepto B0: {beta[1]}")

# Generar predicciones usando el modelo lineal
y_pred = X @ beta

# Sacamos las predicciones de 
print(y_pred)

# Sacamos el erro cuadratico
print((y - y_pred).T @ (y - y_pred))

Estos son los datos de entrenamiento 8
Estos son los datos de entrenamiento 8
Coeficiente B1: -379.1859595525648
Intercepto B0: 49.11274364727038
[44.56251213 11.95251961 44.18332617 36.97879294 33.94530527 17.26112304
 44.56251213 39.2539087 ]
140.5953942113387

In [ ]:
¬øHay sobreentrenamiento o no?