## Coding Exercise #0302

### 1. Linear regression and diagnostics:

In [1]:
# import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
#from sklearn.datasets import load_boston
from sklearn import metrics
import pandas as pd
import numpy as np


data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

X = pd.DataFrame(data)
Y = pd.DataFrame(target)

# define column names
column_names = [
    'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 
    'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'
]

# add column names to the DataFrame
X.columns = column_names[:-1]  # all columns except the last one
Y.columns = [column_names[-1]]  # only the last column

#### 1.1. Load the 'Boston' dataset from Scikit-Learn:

In [2]:
# Display the description on the data.
print(X)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [3]:
# Display the description on the data.
print(Y)

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

#### 1.2. Convert the data into a DataFrame and then explore:

In [4]:
df = pd.DataFrame(np.append(X,Y,axis = 1), columns = column_names)

In [5]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
df.tail(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [ ]:
# Descriptive statistics of the variables (columns).
df.describe()

In [ ]:
# Q: Show the pair-wise correlation matrix (values rounded to two decimals) 
# Check https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html and https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.round_.html
??

In [ ]:
# Q:  Visualize the correlation matrix (use the function heatmap from the saborn library: https://seaborn.pydata.org/generated/seaborn.heatmap.html)
??

In [ ]:
# In the Boston housing dataset, 'RM' is the average number of rooms per dwelling and 'PRICE'(MEDV) is the Median value of owner-occupied homes in $1000's. 
# Q: Visualize RM vs PRICE. (e.g., we can visualize the relationship between these two variables using a scatter plot)

??

#### 1.3. Train by linear regression:

In [ ]:
# Q:  Train and fit a Linear Regression model using X and Y.
lm = ??
lm.??

In [ ]:
# Q: The intercept.
lm.intercept_

In [ ]:
# Q: The rest of coefficients (parameters).
lm.coef_

In [ ]:
# Display the parameters as a DataFrame.

# Get the intercept and parameters as data
data = np.append(lm.intercept_, lm.coef_)

# Create a pandas DataFrame
parameters_df = pd.DataFrame(data, columns=['Parameters'], index=['Intercept'] + column_names[:-1])

# Print the DataFrame
print(parameters_df)

#### 1.4. Diagnostics:

In [ ]:
# In-sample prediction.
predY = lm.predict(X)

In [ ]:
# Q:  Display real Y vs predicted Y (use the scatter function: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html).
plt.??

In [ ]:
# Coefficient of determination (R^2):
rsq_AllData = lm.score(X,Y)
print(rsq_AllData)

#### 1.5. SPLIT DATA: In-sample (training data) and out-of-sample (test data) testing:

In [ ]:
# Q: Split the dataset into train and test (test size = 0.3, random seed = 123)
X_train, X_test, Y_train, Y_test = ??
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

In [ ]:
# Q: Check the prediction for:
# predY_in = in-sample prediction of Y (X_train)
# predY_out = out-of-sample prediction of Y (X_test).
lm = LinearRegression()
lm.fit(X_train,Y_train)
predY_in = ??
predY_out = ??

In [ ]:
print('In-sample MSE is      : ' + str(metrics.mean_squared_error(Y_train, predY_in)))
print('Out-of-sample MSE is  : ' + str(metrics.mean_squared_error(Y_test, predY_out)))
print('-'*50)
print('In-sample RMSE is     : ' + str(np.sqrt(metrics.mean_squared_error(Y_train, predY_in))))
print('Out-of-sample RMSE is : ' + str(np.sqrt(metrics.mean_squared_error(Y_test, predY_out))))

NOTE: In-sample error are a bit smaller but not by much.

In [ ]:
# Coefficient of determination (R^2):
rsq_Test = lm.score(X_test,Y_test)
print(rsq_Test)

In [ ]:
# Show the intercept.
lm.intercept_

In [ ]:
# Show other parameters.
lm.coef_

#### 1.6. Residual analysis:

In [ ]:
# Q: Calculate residual.
residual = Y_train - predY_in

In [ ]:
# Q: Can you check "visually" that the mean = 0 and variance = constant? (Pot Y_train vs. the residual)
plt.??

In [ ]:
# Q: Are the residuals normally distributed centered around 0? Use https://seaborn.pydata.org/generated/seaborn.distplot.html
# to plot a hisogram of the "residual" variable with 50 bins.
sns.??

#### 1.7. Given a new set of values for the explanatory variables, predict the response:  
- CRIM     : 0.03
- ZN       : 0.0
- INDUS    : 13.0
- CHAS     : 0.0
- NOX      : 0.4
- RM       : 4.3
- AGE      : 23.5
- DIS      : 1.9
- RAD      : 1.0
- TAX      : 273.0
- PTRATIO  : 18.0 
- B        : 380.0
- LSTAT    : 7.5

In [ ]:
X_new = np.array([0.03, 0.0, 13.0, 0.0, 0.4, 4.3, 23.5, 1.9, 1.0, 273.0, 18.0, 380.0, 7.5]).reshape(1,-1)  # Reshaped as a row.
Y_pred_new = lm.predict(X_new)
print(np.round(Y_pred_new[0,0],3))

### 1.7 Regularized regressions

#### 1.7.1 Ridge regression

In [ ]:
from sklearn.linear_model import Ridge, Lasso

In [ ]:
lambdaRange = range(1,100) # Lambda = 0 -> same as lm()

In [ ]:
bestRsq = 0.0                                                # To contain the best R^2.
bestLambda = 0.0                                             # To contain the best lambda.
for aLambda in lambdaRange:
    ridge = Ridge(aLambda)
    ridge.fit(X_train,Y_train)                               # Train with the training set.
    rsq = ridge.score(X_test,Y_test)                         # Calculate R^2 with the testing set. 
    if (rsq > bestRsq):                                      # If R^2 is better, replace bestRsq.
        bestRsq = rsq
        bestLambda = aLambda
        print("Lambda = ", bestLambda, " and  R^2 = ", np.round(rsq,3))
ridge = Ridge(bestLambda)                                    # Final run with the bestLambda.
ridge.fit(X,Y)

In [ ]:
# Show the intercept.
ridge.intercept_

In [ ]:
# Show other parameters.
ridge.coef_

#### 1.7.2 Lasso regression

In [ ]:
lambdaRange = range(1,100) # Try also lambdaRange = np.arange(0.01, 1, 0.01)

In [ ]:
# Q: Check the best lamda for Lasso (as done with Ridge) (https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html)

In [ ]:
# Show the intercept.
lasso.intercept_

In [ ]:
# Show other parameters.
lasso.coef_

NOTE: Lasso can make some parameters exactly 0 when $\lambda$ is large enough.