## Coding Exercise #0209

### 1. Summarizing categorical variables:

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Go to the directory where the data file is located. 
#  os.chdir(r'~~')                # Please, replace the path with your own.

In [3]:
# Read in the data.
df = pd.read_csv('data_studentlist.csv', header='infer',encoding = 'latin1')

#### 1.1. Frequency table (One way table):

In [4]:
# Categorical variables.
bloodType = df['bloodtype']
gender = df['gender']

In [5]:
# Frequency table of bloodType.
bloodType.value_counts()

bloodtype
O     5
B     5
A     4
AB    3
Name: count, dtype: int64

In [6]:
# Frequency table of gender.
gender.value_counts()

gender
M    10
F     7
Name: count, dtype: int64

In [7]:
# Table of proportions of bloodType.
bloodType.value_counts()/bloodType.size

bloodtype
O     0.294118
B     0.294118
A     0.235294
AB    0.176471
Name: count, dtype: float64

In [8]:
# Table of proportions of gender.
gender.value_counts()/gender.size

gender
M    0.588235
F    0.411765
Name: count, dtype: float64

#### 1.2. Contingency table (Two way table):

In [9]:
# Contingency table.
pd.crosstab(bloodType,gender)

gender     F  M
bloodtype
A          2  2
AB         1  2
B          1  4
O          3  2

In [10]:
# Contingency table with marginalization.
pd.crosstab(bloodType,gender,margins=True)

gender     F   M  All
bloodtype
A          2   2    4
AB         1   2    3
B          1   4    5
O          3   2    5
All        7  10   17