In [41]:
import numpy as np
import pandas as pd
from numpy import linalg as la

In [9]:
# Ejercicio: Tenemos dos vectores u y v, calcula el producto escalar 
u = np.array([1,0,1])
v = np.array([1,2,3])

np.dot(u,v)

4

In [13]:
np.sum(u*v.T)

4

In [15]:
u@v

4

In [35]:
# Calcula el angulo que hacen u y v. Calcula la norma
diferencia = u - v
distancia = np.sqrt(np.sum(diferencia**2))
# La norma
#norma = 0
distancia

2.8284271247461903

In [33]:
diferencia

array([ 0, -2, -2])

In [45]:
# Usuarios que pretenden comprar vuelos y la frecuencia
vuelos = pd.read_csv('./vuelos.csv')
vuelos

# Vamos a comparar items

   MAD-AGP  MAD-LPA  MAD-SVQ  MAD-VLC  MAD-IBZ  MAD-SCQ
0      0.0      0.0      1.0      0.0      0.0      2.0
1      0.0      2.0      1.0      1.0      0.0      0.0
2      0.0      0.0      1.0      1.0      1.0      1.0
3      0.0      0.0      1.0      2.0      0.0      0.0
4      0.0      0.0      1.0      1.0      0.0      0.0
5      0.0      0.0      2.0      0.0      0.0      1.0
6      1.0      0.0      0.0      1.0      0.0      1.0
7      0.0      1.0      0.0      1.0      0.0      2.0
8      1.0      2.0      0.0      0.0      0.0      1.0
9      1.0      0.0      1.0      0.0      1.0      0.0

In [104]:
# Buscamos una matriz de similitud entre destinos/vuelos
# similitud entre dos vectores = coseno(vector1, vector2)
# Me interesan resultados que se aproxime a 1 porque se asemejan y descarto los de 0 porque no se asemejanabs
v = vuelos.to_numpy()
#v1 = v[:,0] -> OJO El segundo debe de ser un rango porque sino pierde la estructura matricial
v1 = v[:,0:1]
v2 = v[:,1:2]
v3 = v[:,2:3]
v4 = v[:,3:4]
v5 = v[:,4:5]
v6 = v[:,5:6]

#similitud = np.cos(vuelos['MAD-SCQ'], vuelos['MAD-IBZ'])
#similitud1_2 = np.cos(v1, v2)
#print(similitud1_2)

diccionario = {}
cont = 1
for v, u in [(v1,v2), (v1, v3), (v1, v4), (v1, v5), (v1, v6)]:
    diccionario[f"Comparación vuelo {cont} y vuelo {cont+1}"] = np.cos(v,u)
    cont += 1

for k, v in diccionario.items():
    print(f"{k}: \n {v}")

Comparación vuelo 1 y vuelo 2:
 [[1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [0.54030231]
 [1.        ]
 [0.54030231]
 [0.54030231]]
Comparación vuelo 2 y vuelo 3:
 [[1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [0.54030231]
 [1.        ]
 [0.54030231]
 [0.54030231]]
Comparación vuelo 3 y vuelo 4:
 [[1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [0.54030231]
 [1.        ]
 [0.54030231]
 [0.54030231]]
Comparación vuelo 4 y vuelo 5:
 [[1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [0.54030231]
 [1.        ]
 [0.54030231]
 [0.54030231]]
Comparación vuelo 5 y vuelo 6:
 [[1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [1.        ]
 [0.54030231]
 [1.        ]
 [0.54030231]
 [0.54030231]]

In [112]:
print(vuelos)
print(la.norm(v, axis=0))

   MAD-AGP  MAD-LPA  MAD-SVQ  MAD-VLC   MAD-IBZ  MAD-SCQ
0      0.0      0.0      1.0      0.0 -0.416147      2.0
1      0.0      2.0      1.0      1.0  1.000000      0.0
2      0.0      0.0      1.0      1.0  0.540302      1.0
3      0.0      0.0      1.0      2.0  1.000000      0.0
4      0.0      0.0      1.0      1.0  1.000000      0.0
5      0.0      0.0      2.0      0.0  0.540302      1.0
6      1.0      0.0      0.0      1.0  0.540302      1.0
7      0.0      1.0      0.0      1.0 -0.416147      2.0
8      1.0      2.0      0.0      0.0  0.540302      1.0
9      1.0      0.0      1.0      0.0  1.000000      0.0
[1.73205081 3.         3.16227766 3.         2.34820414 3.46410162]

In [120]:
rating = pd.read_csv('./ratings_example.csv')
rating

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [142]:
#Filas usuarios
#Columnas 
peliculas = pd.pivot_table(data=rating,columns=["movieId"], index=["userId"], values=["rating"], fill_value=0)
peliculas

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    4.0
3          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4          0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    4.0
5          0.0    0.0    4.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
667        0.0    0.0    0.0    0.0    0.0    4.0    0.0    0.0    0.0    0.0
668        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
669        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
670        4.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
671        5.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

         ...                                                                 \
movieId  ... 161084 161155 161594 161830 161918 161944 162376 162542 162672
userId   ...
1        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5        ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
667      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
668      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
669      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
670      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
671      ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0


movieId 163949
userId
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
...        ...
667        0.0
668        0.0
669        0.0
670        0.0
671        0.0

[671 rows x 9066 columns]

In [144]:
""" Algoritmo de recomendación basado en la similitud user-user

' Algoritmo de recomendación basado en la similitud user-user \n 1)\n    Generamos una matriz de similitud coseno entre cada par de usuarios.\n    Si dos usuarios tienen patrones de visita similares, su similitud coseno será alta (cercana a 1).\n    '

In [148]:
# 1) Normalizamos primero de todo
def normalizar_dataframe(df):
    return df.div(la.norm(df.values, axis=1, keepdims=True), axis=0) # quiero de las peliculas

peliculas_normalizadas= normalizar_dataframe(peliculas)
peliculas_normalizadas

           rating                                                         \
movieId    1      2         3      4      5         6      7      8
userId
1        0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
2        0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
3        0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
4        0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
5        0.000000    0.0  0.101258    0.0    0.0  0.000000    0.0    0.0
...           ...    ...       ...    ...    ...       ...    ...    ...
667      0.000000    0.0  0.000000    0.0    0.0  0.129641    0.0    0.0
668      0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
669      0.000000    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
670      0.179969    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0
671      0.116841    0.0  0.000000    0.0    0.0  0.000000    0.0    0.0

                          ...                                            \
movieId 9         10      ... 161084 161155 161594 161830 161918 161944
userId                    ...
1          0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
2          0.0  0.127451  ...    0.0    0.0    0.0    0.0    0.0    0.0
3          0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
4          0.0  0.062939  ...    0.0    0.0    0.0    0.0    0.0    0.0
5          0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
...        ...       ...  ...    ...    ...    ...    ...    ...    ...
667        0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
668        0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
669        0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
670        0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0
671        0.0  0.000000  ...    0.0    0.0    0.0    0.0    0.0    0.0


movieId 162376 162542 162672 163949
userId
1          0.0    0.0    0.0    0.0
2          0.0    0.0    0.0    0.0
3          0.0    0.0    0.0    0.0
4          0.0    0.0    0.0    0.0
5          0.0    0.0    0.0    0.0
...        ...    ...    ...    ...
667        0.0    0.0    0.0    0.0
668        0.0    0.0    0.0    0.0
669        0.0    0.0    0.0    0.0
670        0.0    0.0    0.0    0.0
671        0.0    0.0    0.0    0.0

[671 rows x 9066 columns]

In [ ]:
# 2) Calculamos la similitud
# Recordemos que lo más cercano a 1 es lo que daría

def similitud_coseno(v1, v2):
    return np.dot(v1, v2) / (la.norm(v1) * la.norm(v2))

for i in 

similitud_coseno_datos = similitud_coseno()