In [2]:
# Pandas: Inspirado en los dataframes 
import pandas as pd
import numpy as np

In [3]:
# Creación de una serie
serie1 = pd.Series(["Male","Female","Male","Male","Female","Female"])
print(serie1)

0      Male
1    Female
2      Male
3      Male
4    Female
5    Female
dtype: object

In [22]:
# Creación de una serie a partir de un array de NumPy
arrayNp = np.array(["Male","Female","Male","Male","Female","Female"])
serie2 = pd.Series(arrayNp)
print(serie2, end="\n\n")
print(serie2.index)

0      Male
1    Female
2      Male
3      Male
4    Female
5    Female
dtype: object

RangeIndex(start=0, stop=6, step=1)

In [18]:
# Creación de una serie a partir de un diccionario. Peculiaridad los indices no serán por defecto los numericos sino que seran la "key" del diccionario
diccionario = { "Female": 3, "Male": 5}
serie3 = pd.Series(diccionario)
print(f"serie a partir del diccionario \n{serie3}", end="\n\n")
print(f"índices de la serie: \n{serie3.index}", end="\n\n")
print(f"valores de la serie: \n{serie3.values}")

serie a partir del diccionario
Female    3
Male      5
dtype: int64

índices de la serie:
Index(['Female', 'Male'], dtype='object')

valores de la serie:
[3 5]

In [41]:
# Cuando recibes una tabla con información para pasarla a panda primero debes de convertirla en un diccionario
info = {
    "nombres": ["Braund", "Allen", "Bonnel"],
    "edad": [22,35,58],
    "genero": ["Male", "Male", "Female"]
}

pandaInfo = pd.Series(info)
print(pandaInfo)

print("----------")

# Si queremos visualizarlo en modo de tabla deberemos de llamar al DataFrame
# Cada una de las columnas del DataFrame será un "Series"
pandaInfo = pd.DataFrame(info)
print(pandaInfo)
pandaInfo.name = "info_personas"
print()
pandaInfo

nombres    [Braund, Allen, Bonnel]
edad                  [22, 35, 58]
genero        [Male, Male, Female]
dtype: object
----------
  nombres  edad  genero
0  Braund    22    Male
1   Allen    35    Male
2  Bonnel    58  Female

  nombres  edad  genero
0  Braund    22    Male
1   Allen    35    Male
2  Bonnel    58  Female

In [40]:
# Podemos acceder a las series del DataFrame a través de su "key/columnName"
print(pandaInfo["nombres"])

0    Braund
1     Allen
2    Bonnel
Name: nombres, dtype: object

In [34]:
# Podemos acceder la primer nombre del DataFrame de la siguiente manera:
print(pandaInfo["nombres"][0])

Braund

In [38]:
# En un Dataframes podemos acceder a columns que es similar a "index" en las "Series"
print(pandaInfo.columns)
print()
print(pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]]).columns)

Index(['nombres', 'edad', 'genero'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [56]:
# Podemos ordenar la información del DataFrame por índice o por valores
print(f"Por valores:\n{pandaInfo.sort_values(by='nombres', ascending=False)}", end="\n\n")

print(f"Por índice:\n{pandaInfo.sort_index(ascending=False)}")

Por valores:
  nombres  edad  genero
0  Braund    22    Male
2  Bonnel    58  Female
1   Allen    35    Male

Por índice:
  nombres  edad  genero
2  Bonnel    58  Female
1   Allen    35    Male
0  Braund    22    Male

In [62]:
# Podemos hacer que de una serie de DataFrame nos saque los valores únicos
print(pandaInfo["nombres"].unique(), end="\n\n")
# Podemos hacer que nos saque el número de valores únicos
print(pandaInfo["nombres"].nunique(), end="\n\n")
# Podemos hacer que nos cuente la cantidad de valores de una serie
print(pandaInfo["nombres"].value_counts(), end="\n\n")

['Braund' 'Allen' 'Bonnel']

3

nombres
Braund    1
Allen     1
Bonnel    1
Name: count, dtype: int64